# 데이터 분석 코드 필사 (2020.07.22)

## - 원본: [Titanic Data Science Solutions (by Manav Sehgal)](https://www.kaggle.com/startupsci/titanic-data-science-solutions)

## - 순서

### [1. 문제 정의](#문제-정의)
### [2. 훈련, 테스트 자료 정의](#훈련,-테스트-자료-정의)
### [3. 데이터 전처리](#데이터-전처리)
### [4. 데이터 분석](#데이터-분석)
### [5. 모델링을 통한 예측](#모델링을-통한-예측)
### [6. 문제 해결](#문제-해결)
### [7. 제출](#제출)

# 문제 정의

- 1912년 4월 15일 타이타닉 호가 북대서양 해상에서 유빙과 충돌해 가라앉는 사고가 발생
- 전체 2224 명의 승객들 중 1502 명의 사망자를 기록 (32% 생존율)
- 높은 사망율은 부족한 구명선 때문
- 특정 그룹(예: 어린이, 상류층)의 생존율이 비교적 높았음


- 문제: 타이타닉 승객 정보를 이용해 타이타닉 사고로 인한 생존/사망 여부를 예측하는 것이 목적
- 훈련 자료: 타이타닉에 승선한 승객 정보와 사고로 인한 생존/사망 여부의 정보
- 테스트 자료: 오직 승객 정보만

# 훈련, 테스트 자료 정의

In [2]:
"""패키지 임포트"""
import pandas as pd

In [3]:
"""훈련, 테스트 자료 불러오기"""
train_df = pd.read_csv("./DATA/train.csv")
test_df  = pd.read_csv("./DATA/test.csv")

In [4]:
"""훈련 자료 변수명 확인"""
print(train_df.columns.values)

['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']

* 범주형 자료: 생존 여부(Survived), 성별(Sex), 승선지(Embarked), 티켓 클래스(Pclass)
* 수치형 자료: 연령(Age), 요금(Fare), 타이타닉 호에 승선한 형제자매와 배우자의 수(SibSp), 승선한 부모와 자식의 수(Parch)

In [5]:
"""훈련 자료 확인"""
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# 데이터 전처리

# 데이터 분석

# 모델링을 통한 예측

# 문제 해결

# 제출